{%  extends 'accounts/main.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body card text-center>
		</div>
		<div class="card card-body">
			<table class="table">
				<div class="row">
					<div class="col">
						<div class="col-md">
							<div class="card text-center text-white  mb-3" id="orders-delivered">
								<div class="card-header">
									<h5 class="card-title">BTC Current Price</h5>
								</div>
								<div class="card-body">
									<h3 class="card-title">{{BTC_current_price}}€</h3>
								</div>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="col-md">
							<div class="card text-center text-white  mb-3" id="orders-delivered">
								<div class="card-header">
									<h5 class="card-title">Profit</h5>
								</div>
								<div class="card-body">
									<h3 class="card-title">{{profit}}€</h3>
								</div>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="col-md">
							<div class="card text-center text-white  mb-3" id="orders-delivered">
								<div class="card-header">
									<h5 class="card-title">Loss</h5>
								</div>
								<div class="card-body">
									<h3 class="card-title">{{loss}}€</h3>
								</div>
							</div>
						</div>
					</div>
				</div>

			</table>
		</div>
	</div>

</div>

{% endblock content %}