<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-2" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">YOUR BITCOIN WALLET</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{wallet_balance}} BTC</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-2" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">I WANT TO BUY</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{buying}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-2" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">I WANT TO SELL</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{selling}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>